name: SpringBoot GraalVM Native Image builds
on: [push, pull_request]
jobs:
  build:
    name: SpringBoot Native Application
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: graalvm/setup-graalvm@v1
        with:
          version: '22.3.1'
          java-version: '17'
          components: 'native-image'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'
          cache: 'maven'

      - name: Build with Maven
        run: mvn --batch-mode package